.hero-section {
  /* margin-left: 100px; */
  position: relative;
  top: 20px;
  left: 10%;
}

.overly-text {
  position: absolute;
  bottom: 0;
  margin: 20px;
}
.main-section {
  margin-top: 50px;
  overflow: hidden;
}

.hero-text {
  line-height: 100px;
  font-size: 70px;
}
.hero-para {
  width: 400px;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (min-width: 768px) {
  .slider-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
  }

  .hero-section {
   
    position: relative;
    top: 20px;
    left: 20%;
  }
}
 */
